.paypal {
    //   border: 1px dashed black;
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }
  
  .paypal-options {
    //   border: 1px dashed black;
    display: flex;
    width: 80%;
    justify-content: center;
  }
  