.order-card-main {
    border: 1px solid black;
    width: 30%;
    min-height: 50vh;
    position: absolute;
    top: 13%;
    right: 9%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    z-index: 99;
}

.order-card-close-icon {
    position: relative;
    // left: -10px;
    text-align: right;
    width: 100%;
    margin-top: 3%;
    font-size: 2rem;
}

.order-card-title {
    text-align: center;
    // border: 1px dashed black;
    margin-top: 7%;
    font-size: 1.7rem;
}


.order-items-cont {
    // border: 1px dashed black;
    margin-top: 10%;
    margin-bottom: 10%;
}

.order-item-div {
    // border: 1px dashed black;
    display: flex;
    // justify-content: space-between !important;
    align-items: center !important;
    width: 100%;
    // margin-bottom: 0.5%;
    font-size: 1.2rem;
    // margin-top: auto !important;
    margin-bottom: 3%;

    .order-item-remove {
        // border: 1px dashed black;
        margin-right: 3%;
        display: flex;
        align-items: center;
    }

    .order-item-count {
        // margin-right: 5%;
        // border: 1px dashed red;
        width: 10%;
        text-align: left;

        .order-item-count-input {
            width: 90%;
            border: none;
            font-size: 1.2rem;
        }
    }

    .order-item-name {
        margin-left: 5%;
        // border: 1px dashed blue;
        width: 67%;
        text-align: left;
    }

    .order-item-total {
        // border: 1px dashed blue;
        width: 20%;
    }
}

.order-items-cont-txt {
    margin-bottom: 0;
}

.order-note-input {
    // border: 1px dashed red;
    width: 100%;
    height: 10vh;
    position: relative;
}

.pay-button {
    background: black;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    height: 7vh;
    font-size: 1.2rem;
}

.pay-btn-contents-container {
    // border: 1px dashed white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    padding-left: 2%;
    padding-right: 2%;
}

.total-items-count {
    border: 1px solid white;
    width: 7%;
    padding: 0.4%;
    margin-bottom: 0;
}

.pay-btn-txt {
    margin-bottom: 0;
}


