.checkout {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .checkout-headline {
    text-align: center;
    margin-bottom: 2%;
  }
  
  .checkout-main-container {
    // border: 1px dashed green;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .checkout-sub-container {
    width: 47.5%;
    // border: 1px dashed blue;
  }
  
  .checkout-cust-info-div {
    border: 1px solid grey;
    height: 23vh;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
  }
  
  .checkout-div-label {
    margin-bottom: 3%;
  }
  
  .checkout-name-and-phone {
    display: flex;
    justify-content: space-between;
  }
  
  .checkout-cust-info-input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 45%;
  }
  
  .checkout-method-div {
    border: 1px solid grey;
    height: 20vh;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .checkout-method-input {
    margin-right: 3%;
  }
  
  .checkout-order-summary-div {
    padding: 3%;
    border: 1px solid grey;
  }
  
  .checkout-order-item-div {
    // border: 1px dashed black;
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 3%;
  }
  
  .checkout-order-item-div:last-of-type {
    margin-bottom: 20%;
  }
  
  .checkout-remove-icon {
    // border: 1px solid green;
    padding-top: auto;
    padding-bottom: auto;
    margin-right: 3%;
  }
  
  .checkout-order-item-count {
    // border: 1px solid orange;
    width: 5%;
    margin-right: 5%;
  }
  
  .checkout-order-item-count-input {
    border: none;
    width: 100%;
  }
  
  .checkout-order-item-name {
    width: 65%;
    text-transform: capitalize;
  }
  
  .checkout-order-note-input {
    width: 100%;
    height: 10vh;
  }
  
  .checkout-amount-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
  }
  
  .checkout-amount-text {
    font-size: 1.3rem;
  }
  
  .checkout-tip-label {
    margin-bottom: 2%;
  }
  
  .checkout-tip-calc-div {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  
  .checkout-tip-amount-div {
    // border: 1px dashed black;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  
  .checkout-tip-radio-span {
    // border: 1px dashed green;
    width: 18%;
  }
  
  .checkout-tip-radio {
    margin-right: 5%;
  }
  
  .checkout-custom-tip-input {
    width: 75%;
  }
  
  .checkout-confirm-btn {
    width: 100%;
    height: 5vh;
  }
  