.ad {
    padding: 4%;
}

.ad-headline {
    text-align: center;
  }

  .ad-change-image-input {
      display: none;
  }
  
  .ad-menu-category-section {
    // border: 1px dashed black;
    margin-bottom: 2%;
  }
  
  .ad-menu-category-label-div {
    //   border: 1px dashed black;
    display: flex;
    align-items: center;
    width: 10%;
    margin-bottom: 2%;
  }
  
  .ad-menu-label {
    //   border: 1px dashed black;
    // margin-top: 2%;
    margin-right: 4%;
    height: 4vh;
    display: flex;
    align-items: center;
  }
  
  .ad-menu-category-add-icon {
    // border: 1px dashed black;
    font-size: 1.7rem;
    // height: 4vh;
    display: flex;
    align-items: center;
  }
  
  .ad-menu-item-deets-cont {
    //   border: 1px dashed black;
    height: 25%;
    text-overflow: ellipsis;
  }
  
  .ad-avail-status-div {
    //   border: 1px dashed green;
    height: 33%;
  }
  
  .ad-avail-green {
    text-align: center;
    color: green;
    font-size: 0.8rem;
  }
  
  .ad-avail-red {
    visibility: hidden;
  }
  
  .ad-menu-item-name {
    // border: 1px dashed black;
    text-transform: capitalize;
    font-size: 1rem;
    text-align: center;
    height: 33%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .ad-menu-item-price {
    // border: 1px dashed black;
    height: 33%;
    text-align: center;
  }
  
  .ad-menu-item-img {
    width: 100%;
    height: 60%;
    margin-bottom: 2%;
    position: relative;
    background: #000;
  
    object {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  
  .ad-menu-item-img-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #fff;
    visibility: hidden;
    font-size: 2rem;
    text-align: center;
  }
  
  .ad-menu-item-img:hover {
    object {
      opacity: 0.6;
    }
  }
  
  .ad-menu-item-img:hover .ad-menu-item-img-txt {
    visibility: visible;
  }
  
  .ad-avail-btn-div {
    //   border: 1px dashed black;
    width: 100%;
    text-align: center;
    height: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
  
    button {
      border: none;
      height: 30px;
      width: 30px;
      border-radius: 4px;
    }
  }
  
  .ad-mark-avail-btn {
    background-color: green;
    color: #fff;
  }
  
  .ad-mark-unavail-btn {
    background-color: red;
    color: #000;
  }
  
  // NewItemModal
  
  .ad-new-item-modal {
    position: relative;
    width: 500;
    height: 85vh;
    border: 2px solid #000;
    outline: none;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1%;
  }
  
  .ad-new-item-modal-headline {
    text-align: center;
  }
  
  .ad-new-item-modal-text-input-div {
    // border: 1px dashed black;
    margin-bottom: 5%;
  }
  
  .ad-new-item-modal-dd-div {
    // border: 1px dashed black;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .ad-new-item-modal-radio-div {
    display: flex;
    // border: 1px dashed black;
    align-items: center;
    height: 5vh;
    width: 100%;
  }
  
  .ad-new-item-modal-radio {
    // border: 1px solid green !important;
    height: 100%;
    margin-right: 10%;
  }
  
  .ad-new-item-modal-radio-label {
    // border: 1px solid green !important;
    // display: flex;
    // align-items: center;
    height: 50%;
  }
  